.workflow {
    @apply h-screen max-h-[800px] laptop:h-auto laptop:max-h-max;
    background-image: none;
    background-position: top left;
    background-size: cover;
}

.workflow__list {
    @apply h-full grid grid-cols-4 gap-4 laptop:grid-cols-2 mobile:grid-cols-1;
}

.workflow__card {
    @apply p-5 bg-primary-lighterdouble bg-opacity-50 flex flex-col justify-start hover:bg-themewhite hover:bg-opacity-90;
}

.workflow__card-span {
    @apply block basis-1/3 text-xl mobile:text-sm;
}

.workflow__card-title {
    @apply first-line:text-base text-secondary uppercase;
}

.workflow__card-subhead {
    @apply text-2xl font-bold text-primary-darker basis-48 mt-8 mobile:text-lg;
}

.workflow__card-desc {
    @apply text-lg text-gray-700 mt-8 mobile:text-sm;
}

