@import url(./__link/nav__link.css);
@import url(./__mobile-icon/nav__mobile-icon.css);

.nav {
  @apply px-10 flex justify-between items-center py-4 mobile:px-5;
}

.nav_page_main {
  @apply pt-2 px-8;
}

.nav__menu-links {
  @apply flex list-none justify-between w-full max-w-[760px] pc:max-w-[683px] mvpc:max-w-[640px] laptop:hidden;
}

.nav__ul-item {
  @apply relative;
}

.nav__submenu {
    @apply bg-primary-lighterdouble border border-primary-lighter;

    position: absolute;
    
    top: calc(100%+21px);
    left: 0;
    width: 380px;
    z-index: 11;
    transition: opacity 0.5s ease-in-out, color .2s ease-in;
    transition: all .4s ease-in;
    visibility: hidden;
    opacity: 0;
    /*visibility: visible;
    opacity: 1;*/
}

@media screen and (max-width:768px) {
  .nav__submenu {
    position: relative;
    display: none;
    width: 100%;
  }
  .nav__ul-item:hover .nav__submenu {
    display: flex;
  }
}

.nav__ul-item:hover .nav__submenu {
    visibility: visible;
    opacity: 1;
}

.nav__sub-ul-item {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.nav__sub-ul-item:hover {
  /*font-weight: 500;*/
  background-color: #f2f2f210;
  background-color: var(--bg-darker-color);
}

.nav__sub-ul-item:hover .nav__sub-link {
  color: #FF5E3A;
  color: #6d6d6d;
  /*font-weight: 500;*/
}


.nav__sub-link {
  @apply text-base text-primary-darkerdouble font-medium no-underline text-left olpc:text-sm;

  width: 100%;
  height: 100%;
  padding: 12px 10px;
  transition: all .2s linear;
}

.nav__sub-link_subb {
  @apply py-6 pb-4 pr-2 text-primary-dark transition-all hover:text-secondary border border-transparent hover:border-primary-light;
}

.nav__ul-item_sub:hover::after {
  opacity: 0.4;
}



