.rsquare {
    display: flex;
    align-items: center;
}

.rsquare::before {
    content: '';
    width: .6em;
    height: .6em;
    @apply bg-blue-100 ;
    margin-right: 12px;
    transform: rotate(45deg);
}

.rsquare_blue::before {
    width: .4em;
    height: .4em;
    margin-right: 17px;
    @apply bg-blue-400 ;
}