<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <main>
    <section class="flex flex-col pt-14 bg-zinc-900">
      <header class="flex mobile:flex-col mobile:*:basis-auto justify-between self-center w-full max-w-[1520px] z-[1] relative after:absolute after:-z-[1] after:w-full after:h-[1px] after:bg-zinc-300 after:top-1/2 after:left-0">
        <h1 class="py-3.5 text-4xl font-semibold uppercase bg-zinc-900 text-zinc-300">
          Точка Излома
        </h1>
        <nav class="basis-1/2 ml-auto flex items-center my-auto text-xl font-medium text-zinc-50">
          <a href="#about" class="ui-button px-5 py-2.5 rounded-full border border-solid bg-zinc-900 border-zinc-50">
            О нас
          </a>
          <a href="#contacts" class="ui-button flex ml-12 items-center justify-center rounded-full  px-5 py-2.5 whitespace-nowrap  bg-zinc-900">
            <span>Контакты</span>
            <!--<img loading="lazy" src="" class="shrink-0 w-6 ml-2 aspect-square" alt="" />-->
            <svg class="size-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>            
          </a>
        </nav>
      </header>
      
      <main class="mt-24 w-full">
        <div class="relative  py-56 flex gap-5">
          <div class="w-full max-w-[1520px] mx-auto">
            <h2 class="self-stretch  w-[59%] my-auto text-6xl text-white uppercase mobile:text-4xl">
              Инжиниринговый центр ООО «Термоблок»
            </h2>
          </div>
          <div class="absolute right-0 bottom-0 flex flex-col ml-5 w-[41%]">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/92d5912eb6280bb6e4f9f36210f14b83fc4a839e65c702a6e9bbcef21369e4f3?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="grow w-full aspect-[1.39] " alt="Инжиниринговый центр ООО «Термоблок»" />
          </div>
        </div>
      </main>
      
      <section class="flex flex-col self-center px-5 mt-40 w-full max-w-[1520px]">
        <div class="flex gap-5 px-px mobile:flex-col mobile:*:basis-auto">
          <div class="basis-1/2 flex flex-col justify-between">
            <h3 class="flex relative max-w-[481px] self-start indent-10 text-5xl mobile:text-3xl font-semibold text-neutral-200 before:absolute before:w-4 before:h-4 before:left-0 before:top-4 before:bg-blue-400 before:rotate-45">
              Чем занимается компания?
            </h3>
            <a href="#details" class="ui-button text-xl font-medium flex w-3/4 justify-center items-center px-10 py-3 rounded-3xl border border-solid border-zinc-300 leading-[120%] text-neutral-300 mobile:hidden">
              <span class="flex gap-2.5">
                <span>Узнать подробнее</span>
                <svg class="size-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                </svg>    
              </span>
            </a>
          </div>
          <div class="flex basis-1/2 flex-col text-xl mobile:text-base leading-6 text-white">
            <p class="">
              Наиболее важным и технически сложным элементом в теплообменнике является пакет пластин. Отсутствие качественных российских пластин вынуждало российских производителей для выпуска достойной продукции использовать импортные пластины для теплообменников.
            </p>
            <p class="mt-4">
              По этой причине проект «Точка излома» изначально был ориентирован на создание качественно нового продукта, совмещающего в себе передовой опыт мировых производителей и инновационные разработки российских ученых и конструкторов, опирающихся на особенности условий эксплуатации РПТО в России.
            </p>
            <h3 class="mt-8 leading-[121%]">
              Основные направления деятельности:
            </h3>
            <ul class="flex mt-7 flex-col self-start leading-[121%]">
              <li class="flex gap-0.5">
                <span class="flex gap-0.5 font-medium tracking-wide text-blue-400 whitespace-nowrap">
                  <span>[</span>
                  <span class="text-center">1</span>
                  <span>]</span>
                </span>
                <span class="ml-3 text-white">Разработка технологий для производства теплообменников</span>
              </li>
              <li class="flex gap-0.5 mt-4">
                <span class="flex gap-0.5 font-medium tracking-wide text-blue-400 whitespace-nowrap">
                  <span>[</span>
                  <span class="text-center">2</span>
                  <span>]</span>
                </span>
                <span class="ml-3 text-white">Программа расчёта теплообменного оборудования</span>
              </li>
              <li class="flex gap-0.5 mt-4">
                <span class="flex gap-0.5 font-medium tracking-wide text-blue-400 whitespace-nowrap">
                  <span>[</span>
                  <span class="text-center">3</span>
                  <span>]</span>
                </span>
                <span class="ml-3 text-white">Научно исследовательские разработки</span>
              </li>
              <li class="flex gap-0.5 mt-4">
                <span class="flex gap-0.5 font-medium tracking-wide text-blue-400 whitespace-nowrap">
                  <span>[</span>
                  <span class="text-center">4</span>
                  <span>]</span>
                </span>
                <span class="ml-3 text-white">Еще что то</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex gap-5 justify-between items-start mt-6 text-xl">
          
          
        </div>
        <h4 class="mt-64 mobile:mt-44 text-base font-light leading-5 text-blue-400 uppercase">
          [ Программа расчёта ]
        </h4>
        <p class="mt-7 text-5xl mobile:text-3xl leading-[58px] text-neutral-200">
          Разработка программы расчёта теплообменников одно из основных направлений деятельности. Программа постоянно дорабатывается под потребности клиента, добавляются новые возможности и улучшается качество расчёта.
        </p>
        <div class="flex gap-5 justify-between px-px mt-24 laptop:flex-col-reverse ">
          <div class=" flex flex-col self-end text-xl">
            <p class="leading-7 text-gray-200 w-2/3 laptop:w-full mobile:text-base">
              <a href="#download" class="text-blue-400">Скачать актуальную версию</a> можно на сайте Точка Излома. Если есть какие-либо вопросы по расчётам или хотите стать дилером с данным ПО, обращайтеся, всё расскажем
            </p>
            <a href="#download-program" class="ui-button font-medium w-2/3 laptop:w-full flex gap-5 justify-center px-14 py-3 mt-16 rounded-full border border-solid bg-zinc-900 border-neutral-200 text-zinc-100">
              <svg  class="size-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
              </svg>              
              <span>Скачать программу</span>
            </a>
          </div>
          <figure class="flex flex-col">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/860091514e4b9c9f4fe7cf27ad12848f5fcefbd8fc73fbebd5e8df97335b2f85?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="w-full aspect-[1.35] " alt="Программа расчёта теплообменников" />
            <figcaption class="flex gap-1.5 self-start mt-5">
              <div class="shrink-0 h-1 bg-blue-400 rounded-sm w-[225px]"></div>
              <div class="shrink-0 h-1 rounded-sm bg-neutral-500 w-[75px]"></div>
            </figcaption>
          </figure>
        </div>
        <h4 class="mt-64 mobile:mt-44 mb-7 text-base font-light leading-5 text-blue-400 uppercase">
          [ Разработка новых пластин и уплотнений для теплообменников ]
        </h4>
        <article class="flex py-11 pr-px pl-8 w-full mobile:flex-col mobile:*:basis-auto mobile:px-0">
          <time datetime="2022" class="rsquare self-start basis-1/4 text-base font-light leading-5 text-blue-400 uppercase mb-10">
            Сейчас
          </time>
          <div class="flex flex-col basis-1/2 w-1/2 w-full justify-self-center">
            <div class="flex flex-col  text-white">
              <h6 class="text-4xl leading-10  mobile:text-2xl">
                Разработка новой пластины ДУ250
              </h6>
              <p class="mt-5 text-xl leading-6 mobile:text-base">
                Разработан тех процесс и изготовлено оборудование для теплообменника ТИ95
              </p>
            </div>
          </div>
         
        </article>
        <article class="flex py-11 pr-px pl-8 w-full mobile:flex-col mobile:*:basis-auto  mobile:px-0 border-t border-slate-600">
          <time datetime="2022" class="rsquare self-start basis-1/4 text-base font-light leading-5 text-blue-400 uppercase  mb-10">
            2023 год
          </time>
          <div class="flex flex-col basis-1/2 justify-self-center">
            <div class="flex flex-col  text-white">
              <h6 class="text-4xl leading-10  mobile:text-2xl">
                Разработка новой пластины ДУ250
              </h6>
              <p class="mt-5 text-xl leading-6 mobile:text-base">
                Разработан тех процесс и изготовлено оборудование для теплообменника ТИ95
              </p>
            </div>
          </div>
          <div class="flex flex-col ml-auto mobile:ml-0 mobile:mt-4 mobile:self-start">
            <a href="https://termoblok.ru" class="ui-button flex gap-2.5 items-center justify-center px-10 py-2.5 text-base leading-5 rounded-3xl border border-solid border-zinc-300 text-neutral-300">
              <span>Читать на termoblok.ru</span>
              <svg class="size-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
              </svg> 
            </a>
          </div>
        </article>
        <article class="flex py-11 pr-px pl-8 w-full mobile:flex-col mobile:*:basis-auto  mobile:px-0 border-t border-slate-600">
          <time datetime="2022" class="rsquare self-start basis-1/4 text-base font-light leading-5 text-blue-400 uppercase  mb-10">
            2022 год
          </time>
          <div class="flex flex-col basis-1/2 justify-self-center">
            <div class="flex flex-col  text-white">
              <h6 class="text-4xl leading-10  mobile:text-2xl">
                Разработка новой пластины ДУ250
              </h6>
              <p class="mt-5 text-xl leading-6 mobile:text-base">
                Разработан тех процесс и изготовлено оборудование для теплообменника ТИ95
              </p>
            </div>
          </div>
          <div class="flex flex-col ml-auto  mobile:ml-0 mobile:mt-4 mobile:self-start">
            <a href="https://termoblok.ru" class="ui-button flex gap-2.5 items-center justify-center px-10 py-2.5 text-base leading-5 rounded-3xl border border-solid border-zinc-300 text-neutral-300">
              <span>Читать на termoblok.ru</span>
              <svg class="size-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
              </svg> 
            </a>
          </div>
        </article>
        <button class="ml-[calc(25%+2rem)] px-14 py-3 mt-7 max-w-full text-xl uppercase rounded-3xl border border-solid bg-zinc-900 border-neutral-200 text-zinc-100 w-[453px]  mobile:w-full  mobile:ml-0">
          Смотреть еще
        </button>
    
    <h4 class="mt-72 mobile:mt-44 text-base font-light leading-5 text-blue-400 uppercase">
      [ производится в ООО «Термоблок» ]
    </h4>
    
    <div class="flex gap-4 mt-16  mobile:flex-col">
      <div class="flex-auto px-px">
        <div class="flex gap-5 mobile:flex-col mobile:*:ml-0">
          <article class="flex flex-col w-[33%] mobile:w-full">
            <div class="flex flex-col grow justify-center text-4xl font-medium leading-9 whitespace-nowrap border border-solid border-zinc-800 text-zinc-300">
              <div class="flex flex-col items-start pt-8 pr-20 pb-16 pl-8 rounded-xl border border-solid border-sky-950 border-opacity-30">
                <h5 class="flex rsquare rsquare_blue">
                  
                  Пластины
                </h5>
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/217db3326aa3725ed1384d2b2251011a94df1f7b2dd3510238a66c5c8a30aaf6?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="mt-16 max-w-full aspect-[0.76] w-[308px]" alt="Пластины для теплообменников" />
              </div>
            </div>
          </article>
          <article class="flex flex-col ml-5 w-[33%] mobile:w-full">
            <div class="flex flex-col grow justify-center text-4xl font-medium leading-9 whitespace-nowrap border border-solid border-zinc-800 text-zinc-300">
              <div class="flex flex-col pt-8 pb-14 rounded-xl border border-solid border-sky-950 border-opacity-30">
                <h5 class="rsquare rsquare_blue flex self-start ml-9">
                  
                  Уплотнения
                </h5>
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c8d6b0c8f838e350d8924e1938ee176e7bd8d39480856fddc83f2978c3d45401?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="mt-14 w-full aspect-[1.04] " alt="Уплотнения для теплообменников" />
              </div>
            </div>
          </article>
          <article class="flex flex-col ml-5 w-[33%] mobile:w-full">
            <div class="flex flex-col grow justify-center text-4xl font-medium leading-9 border border-solid border-zinc-800 text-zinc-300">
              <div class="flex flex-col pt-8 pb-14 rounded-xl border border-solid border-sky-950 border-opacity-30">
                <h5 class="rsquare rsquare_blue ml-9">Элементы рам</h5>
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e63188514dab0d53030effe2dd5792e1b77f34fe9acb3fddf2a03e14dd8e037?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="mt-16 w-full aspect-[1.06] " alt="Элементы рам для теплообменников" />
              </div>
            </div>
          </article>
        </div>
      </div>
      <a href="#catalog" class="flex gap-4 justify-center self-start px-1 py-2.5 text-sm bg-zinc-900 rounded-[33px] text-zinc-100">
        <span>В каталог</span>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c19cca8149494be688debb0342ee6e0227ab31c0b66ba14b8792bfff3ccce7fb?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="shrink-0 my-auto aspect-square w-3" alt="" />
      </a>
    </div>
    </section>
    
    <section class="flex justify-center items-center px-16 py-20 mt-32 w-full bg-stone-950 mobile:px-3">
      <div class="flex flex-col mt-32 mb-2.5 w-full max-w-[1518px]">
        <h2 class="text-5xl  mobile:text-3xl w-3/4 mobile:w-full leading-[58px] text-neutral-200">
          Мы любим свою работу и рады решить Вашу задачу, требующую квалифицированного инженерного подхода.
        </h2>
        <div class="flex gap-5 justify-between mt-40 w-full text-xl mobile:items-end">
          <address class="flex gap-5 justify-between items-start self-start leading-[120%] text-neutral-300   not-italic mobile:flex-col">
            <div class="flex flex-col mt-1.5">
              <div class="flex gap-2.5 whitespace-nowrap">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/857052cd74ea3dd82f541136daff9458a139a09e2bca21d457d21102b56c72f9?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="shrink-0 w-6 aspect-square" alt="" />
                <span>Барнаул</span>
              </div>
              <div class="mt-3">улица П.С. Кулагина 28</div>
            </div>
            <div class="flex flex-col mt-1.5 whitespace-nowrap">
              <div class="flex gap-2.5">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a55a223e34fa5af56ce635b4eb46cfe177b60b65335f584f51eb00632654e5e2?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="shrink-0 w-6 aspect-square" alt="" />
                <span>E-mail</span>
              </div>
              <a href="mailto:info@tochka-izloma.ru" class="mt-3">info@tochka-izloma.ru</a>
            </div>
            <div class="flex flex-col">
              <div class="flex gap-2.5 whitespace-nowrap">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3c114b678810f53e493feba1f321764cc38cd85bd5f1ab166289599392d164d2?apiKey=fd1985b38ee5425aa66bcab53e046da7&&apiKey=fd1985b38ee5425aa66bcab53e046da7" class="shrink-0 w-6 aspect-square" alt="" />
                <span>Телефон</span>
              </div>
              <a href="tel:+73852772638" class="mt-4">8 (3852)77-26-38</a>
            </div>
          </address>
          <a href="#contact" class="feedback-button bottom-24 right-20 fixed px-14 py-3 border border-solid bg-zinc-900 border-neutral-500 rounded-[33px] text-zinc-100 hover:bg-zinc-100 hover:text-neutral-700 transition-all duration-150 mobile:p-4 ">
            Напишите нам!
          </a>
        </div>
      </div>
    </section>
    </section>
  </main>
  <div class="feedback-form hidden fixed bottom-16 right-10 mobile:w-[calc(100%-1rem)] mobile:bottom-2 mobile:right-2">
    
      <%= _.template(require('html-loader!./insets/form-section.html').default)() %>
  
  </div>
  <%= require('html-loader!./insets/popups/popupMessage.html').default %>
</body>
</html>
