.form {
    @apply w-full bg-[#303030] px-10 pt-11 pb-8 rounded-2xl mobile:p-4 mobile:pt-8;
}

.form__field {
    @apply  rounded-sm relative min-w-[448px] laptop:min-w-max mobile:mr-0 mobile:mb-4;
}

.form__field:last-child {
    
}

.form__field_type_textarea {
    @apply flex flex-col h-48 mr-0;
}

.form__label-title {
    @apply px-5 py-1 text-base text-primary-dark;
}

.form__input {
    @apply w-full p-4 text-lg bg-zinc-900  border border-stone-950 rounded-md text-zinc-200 outline-none mobile:text-base mobile:p-3;
}

.form__input::placeholder {
    @apply text-primary-lighterdouble
}

.form__input_type_textarea {
    @apply block basis-full  py-5;
}

.form__submit-button {
    @apply flex justify-center gap-5 rounded-full text-zinc-50 border border-zinc-900 bg-zinc-900  text-xl font-medium hover:bg-zinc-50 hover:text-zinc-900 transition-all duration-300 px-5 py-3  mt-8;
}

.form__submit-button_disabled {
    @apply bg-[#303030] hover:bg-[#252525] cursor-not-allowed border border-zinc-900 text-zinc-900;
}

.form__input-error {
    @apply text-red-400;
    font-size: 10px;
    letter-spacing: .04em;
    
    opacity: 0;
    position: absolute;
    bottom: 2px;
    left: 16px;
    transition: 0.3s;
    width: 100%;
  }
  
  .form__input-error_visible {
    opacity: 1;
  }